@charset "UTF-8";

#wrap {width:800px; margin:auto;}
header {height:100px;}
footer {height:100px;}

a {
	text-decoration-line: none;
	color: black;
}

a:hover {
	text-decoration-line: none;
	color: black;
}

.store-box:hover {background-color:#E6FAFD;}
.menu-box {background-color:#D2D3D3;}
	