@charset "UTF-8";

header {height:100px;}
nav {height:40px; background-color:#E3871F;}
.contents{min-height:500px;}
footer {height:80px;}

.nav-item .nav-link:hover {background-color:#A76417;}

.booking-box {width:350px;}